<div class="d-flex">
    <ul class="nav flex-column navbar-dark bg-dark p-3 col-xl-1 vh-100">
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/">SEO CMS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin/pages">Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="#">Users</a>
        </li>
    </ul>