{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}
{% block nav %}
    {% include 'admin/panel/inc/nav.html.twig' %}
{% endblock %}
{% block body %}
    <div class="flex-column p-4">
        <h1>Edit page</h1>
        {% include 'admin/panel/inc/page_form.html.twig' %}
        {% if page.WasEdited %}
        <div class="mt-2">
            Last edit on {{ page.CreationDate|date }}
        </div>
        {% endif %}
    </div>
{% endblock %}
