{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block nav %}
    {% include 'admin/panel/inc/nav.html.twig' %}
{% endblock %}
{% block body %}

    <div class="flex-column p-4">
        <h1>Add new page</h1>
        {% include 'admin/panel/inc/page_form.html.twig' %}
    </div>

{% endblock %}
