{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}
{% block nav %}
    {% include '/admin/panel/nav.html.twig' %}
{% endblock %}
{% block body %}
    <div class="m-2">
        <h1>List of users</h1>
        <ul>
            {% for user in users %}
                <li>{{ user.getUsername }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
