@import "~bootstrap";

body {
    height: 100%;
}
footer {
    border-top: 1px dotted gray;
}
textarea {
    resize: none;
}

#registration_form_agreeTerms {
    margin-top: 7px;
    margin-right: 35px;
    display: block;
    float: right;
}

form[name="registration_form"] label+ul {
    list-style-type: none;
    color: crimson;
    padding-left: 0;
    font-size: 90%;
}

li.dropdown:hover ul.dropdown-menu {
    display: block;
    left: 110px;
    top: 30px;
    background: #303030;
    border: none;
}

ul.dropdown-menu > li {
    padding: 15px;
    text-align: center;
}

#cke_page_content {
    width: 90vh;
    max-width: 100vh
}

form input {
    display: block;
}

.admin-column {
    height: 1500px;
}

.nav.flex-column {
    min-height: 100vh;
}

#add_to_menu_Page {
    width: 100%;
    overflow: hidden;

}

#add_to_menu_Page option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

#add_to_menu_Page option::before {
    font-family: FontAwesome;
    content: "\f096";
    width: 1.3em;
    display: inline-block;
    margin-left: 2px;
}

#add_to_menu_Page option:checked::before {
    content: "\f046";
}

#add_to_menu_Page option {
    margin-bottom: 10px;
}
