@import "~bootstrap";

body {
    height: 100%;
}
footer {
    border-top: 1px dotted gray;
}
textarea {
    resize: none;
}

#registration_form_agreeTerms {
    margin-top: 7px;
    margin-right: 35px;
    display: block;
    float: right;
}

form[name="registration_form"] label+ul {
    list-style-type: none;
    color: crimson;
    padding-left: 0;
    font-size: 90%;
}

