<div class="d-flex">
    <ul class="nav flex-column navbar-dark bg-dark p-3 col-xl-1">
        <li class="nav-item">
            <a href="/" style="color:#53aa78" title="See site"><i class="fa-solid fa-globe"></i></a>
            <a href="/logout" style="color:#53aa78" class="m-2" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            <span class="nav-link text-secondary mt-5">SEO CMS</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin/pages">Pages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin/settings">Settings</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-secondary pt-5" href="#">Appearance</a>
            <ul class="dropdown-menu navbar-dark bg-dark rounded-0">
                <li class="text-secondary">
                    <a href="/admin/menu" class="text-secondary text-decoration-none">Menu</a>
                </li>
                <li class="text-secondary">
                    <a href="/admin/theme" class="text-secondary text-decoration-none">Theme</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary pt-5" href="/admin/users">Users</a>
        </li>
    </ul>