<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
            <a class="navbar-brand" href="#">SEO CMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end me-4" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ms-4">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="/admin">Panel</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item ms-4">
                        <a class="nav-link" href="#">Offer</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
        {% block body %}
        {% endblock %}
        <footer class="flex-shrink-0 py-4 bg-dark text-white-50 fixed-bottom">
            <div class="container text-center">
                <small>Copyright &copy; <a class="text-decoration-none text-secondary" href="https://bednarski.xyz">bednarski.xyz</a></small>
            </div>
        </footer>
    </body>
</html>
