<nav aria-label="breadcrumb">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
        {% if app.request.pathinfo != '/' %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item " aria-current="page">
            <a itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        {% set counter = 1 %}
        {% for breadcrumb in breadcrumbs %}
        {% set counter = counter + 1 %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item" aria-current="page">
                <a itemprop="item" href="/{{ breadcrumb['alias'] }}">
                    <span itemprop="name">{{ breadcrumb['name'] }}</span>
                </a>
                <meta itemprop="position" content="{{ counter }}" />
            </li>
        {% endfor %}
        {% endif %}
    </ol>
</nav>